* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a,
p {
  font-size: 2rem;
}

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 3.4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.8rem;
}

h5,
h6 {
  font-size: 2.4rem;
}

@font-face {
  font-family: dancing;
  src: url(../fonts/DancingScript-Medium.ttf);
}

@font-face {
  font-family: signika;
  src: url(../fonts/Signika-Regular.ttf);
}

@font-face {
  font-family: cinzel;
  src: url(../fonts/Cinzel-Medium.ttf);
}

header {
  width: 90%;
  margin: auto;
  min-height: 10vh;
}

header nav {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .logo {
  -webkit-box-flex: 2;
      -ms-flex: 2 1;
          flex: 2 1;
  width: 100%;
  height: 100%;
  padding: 0 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

header nav .logo img {
  width: auto;
  height: 10vh;
  -o-object-fit: cover;
     object-fit: cover;
}

header nav .profile {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header nav .profile .logout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .profile .logout img {
  width: auto;
  height: 10vh;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  position: relative;
}

header nav .profile .logout .logoutBtn {
  width: 100%;
  border: 1px solid black;
  background-color: white;
  padding: 1rem 5rem;
  cursor: pointer;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

header nav .profile .logout .logoutBtn:hover {
  background-color: cadetblue;
}

header nav .profile .logout.toggle {
  z-index: 1000;
}

.map {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 60vh;
}

.map .myMap {
  min-height: 40vh;
  width: 100%;
}

.map .filter {
  position: absolute;
  width: 88%;
  height: 40vh;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.map .filter .filter-filter {
  z-index: 500;
}

.map .filter .filter-filter .insideFilter {
  border-radius: 1.5rem;
  height: 5.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5rem;
  background: white;
  border: 1px solid black;
  cursor: pointer;
  width: 18rem;
}

.map .filter .filter-filter .insideFilter img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  width: 1rem;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.map .filter .filter-filter .insideFilter p {
  -webkit-box-flex: 2;
      -ms-flex: 2 1;
          flex: 2 1;
  font-size: 2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.map .filter .filter-filter .filterPopUp {
  display: none;
}

.map .filter.filter-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.map .filter.filter-toggle .filterPopUp {
  position: absolute;
  width: 18rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10rem;
  background: white;
  border: 1px solid black;
  border-top: 0;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0 0 1.5rem 1.5rem;
}

.map .filter.filter-toggle .filterPopUp .xRight {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.map .filter.filter-toggle .filterPopUp .xRight #x {
  position: absolute;
  margin-top: -4.5rem;
  padding: 0 1rem;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.map .filter.filter-toggle .filterPopUp #countryFilter {
  position: absolute;
  width: 80%;
  margin-top: -2.5rem;
  text-align: center;
  border-radius: 1rem;
  border: 1px solid black;
  outline: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.map .filter.filter-toggle .filterPopUp #countryFilter:focus {
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid black;
}

.map .filter.filter-toggle .filterPopUp #windFilter {
  text-align: center;
  border-radius: 1rem;
  border: 1px solid black;
  outline: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.map .filter.filter-toggle .filterPopUp #windFilter:focus {
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid black;
}

.map .filter.filter-toggle .filterPopUp #applyFilter {
  background-color: white;
  border: 1px solid black;
  padding: 0.5rem 4rem;
  margin: 1.5rem 0 1rem 0;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.map .filter.filter-toggle .filterPopUp #applyFilter:hover {
  border-radius: 2rem;
  background-color: cadetblue;
}

.map .filter.filter-toggle .insideFilter {
  height: 5.2rem;
  border-radius: 1.5rem 1.5rem 0 0;
  border-bottom: 0;
  cursor: default;
}

.map .filter.filter-toggle .insideFilter img,
.map .filter.filter-toggle .insideFilter p {
  display: none;
}

.tableApi {
  height: 30vh;
  width: 90%;
  margin: auto;
  overflow: scroll;
  overflow: auto;
}

.tableApi table {
  width: 100%;
  margin-top: 2.5rem;
}

.tableApi table tr {
  margin: 1rem;
}

.tableApi table tr:hover {
  background-color: red;
  cursor: pointer;
}

.tableApi th {
  background-color: #4287f5;
  color: white;
}

.tableApi th,
.tableApi td {
  font-size: 1.8rem;
  width: 15rem;
  text-align: center;
  border: 0.1rem solid black;
  padding: 1rem;
}

.popUp .star {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  margin-left: 0.5rem;
}

.popUp .star img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.popUp p {
  font-size: 2rem;
}

.popUp .titlePop {
  font-size: 2.5rem;
}

.popUp .insidePop {
  font-size: 1.3rem;
}

.popUp .insidePop.title {
  font-weight: bold;
}

.popUp .popUpButton {
  width: 100%;
  background-color: gold;
  border: 0;
  text-align: center;
  padding: 1rem 1.5rem;
  cursor: pointer;
  font-weight: bold;
  border-radius: 2rem;
  -webkit-transition: border 0.8s ease-in-out;
  transition: border 0.8s ease-in-out;
  border: 1px solid white;
}

.popUp .popUpButton:hover {
  border: 1px solid black;
  background-color: #ffe448;
}

.popUp .popUpButton.toggle {
  background-color: RED;
}
/*# sourceMappingURL=dash.css.map */