* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

a,
p {
    font-size: 2rem;
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.8rem;
}

h5,
h6 {
    font-size: 2.4rem;
}

@font-face {
    font-family: dancing;
    src: url(../fonts/DancingScript-Medium.ttf);
}

@font-face {
    font-family: signika;
    src: url(../fonts/Signika-Regular.ttf);
}

@font-face {
    font-family: cinzel;
    src: url(../fonts/Cinzel-Medium.ttf);
}